
<div class="container mt-4">
  <div class="col-5 mx-auto">
  <li class="list-group-item">House name: {{person?.house?.name}}</li>
  <li class="list-group-item">House slug: {{person?.house?.slug}}</li>
  <li class="list-group-item">Person name: {{person?.name}}</li>
  <li class="list-group-item">Person slug: {{person?.slug}}</li>
  <li class="list-group-item">Quotes: </li>
  <ul class="list-group list-group-flush" *ngFor="let quote of person?.quotes">
    <li class="list-group-item">{{quote}}</li>
  </ul>
  <div class="text-center mt-3">
    <a class="btn btn-primary" (click)="getRandomQuotes()">Replace quotes</a>
  </div>
  </div>
</div>
